#navbar {
	background-color: rgba(250, 164, 48, 255);
}

#logo {
	cursor: pointer;
	height: 80px;
	mix-blend-mode: multiply;
}

#searchbar {
	background-color: white;
	height: 45px;
	width: 38%;
	outline: none;
	border: 2px solid #de9a1e;
	border-radius: 20px;
	padding: 0 50px 0 20px;
	font-size: 15px;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
	margin-left: 15%;
}

#searchbar:hover {
	border-color: lightblue;
}

ul {
	float: right;
	list-style: none;
	margin-top: 15px;
	margin-right: 0;
	position: relative;
}

ul li {
	display: inline-block;
	margin: 0 12px;
}

ul li a {
	color: black;
	text-decoration: none;
	font-size: 12px;
	font-weight: 600;
	letter-spacing: 2px;
	text-transform: uppercase;
}

#aboutUs {
	background-color: white;
	color: black;
	padding: 10px 20px;
	border-radius: 15px;
	left: 380px;
	position: relative;
}

#aboutUs:hover {
	box-shadow: 5px 5px 10px;
}

#userImg {
	border-radius: 50%;
	height: 40px;
	width: 40px;
}

#userList li {
	position: relative;
	float: none;
	display: list-item;
	padding: 10px;
	margin-left: -20px;
	border-bottom: 1px solid black;
}

#userName {
	color: rgba(250, 164, 48, 255);
	background-color: white;
	padding: 4px 8px;
	border-radius: 30px;
}

#imgContainer {
	width: auto;
}
