<app-header></app-header>
<!-- Infinite Slider -->
<div class="section">
	<div class="slider">
		<div class="slide-track autoplay">
			<div class="slide"><img
				alt="Company Logo"
				height="150" src="assets/images/slider/1.png" width="289"/></div>
			<div class="slide"><img alt="Company Logo" height="150"
									src="assets/images/slider/2.png" width="289"/></div>
			<div class="slide"><img
				alt="Company Logo"
				height="150" src="assets/images/slider/3.png" width="289"/></div>
			<div class="slide"><img alt="Company Logo" height="150"
									src="assets/images/slider/4.png" width="289"/></div>
			<div class="slide"><img alt="Company Logo" height="150"
									src="assets/images/slider/5.png" width="289"/></div>
			<div class="slide"><img alt="Company Logo" height="150"
									src="assets/images/slider/6.png" width="289"/></div>
			<div class="slide"><img alt="Company Logo" height="150"
									src="assets/images/slider/7.png" width="289"/></div>
			<div class="slide"><img alt="Company Logo"
									height="150" src="assets/images/slider/8.png" width="289"/></div>
			<div class="slide"><img
				alt="Company Logo"
				height="150" src="assets/images/slider/9.png" width="289"/></div>
			<div class="slide"><img
				alt="Company Logo"
				height="150" src="assets/images/slider/10.png" width="255"/></div>
			<div class="slide"><img
				alt="Company Logo"
				height="150" src="assets/images/slider/11.png" width="289"/></div>
			<div class="slide"><img
				alt="Company Logo"
				height="150" src="assets/images/slider/12.png" width="289"/></div>
			<div class="slide"><img
				alt="Company Logo"
				height="150" src="assets/images/slider/13.png" width="289"/></div>
		</div>
	</div>

	<div id="floatingImages">
		<div class="line">
			<div id="text-1"><p>Welcome To Speedy Bite,</p></div>
			<div id="text-2"><p><span>Order From The Best Eateries Across The City</span></p></div>
			<div id="text-3"><p><span class="autoType"></span></p></div>
		</div>
		<img alt="Image of a bowl" class="homepageImage" height="250" src="assets/images/homepage/bowl.png"
			 style="left: 80px; top: 60px" width="350">
		<!--		<img alt="Image of a burger" class="homepageImage" height="250" src="assets/images/homepage/burger.png"-->
		<!--			 style="left: 154px" width="350">-->
		<img alt="Image of a ramen bowl" class="homepageImage" height="250"
			 src="assets/images/homepage/ramen%20bowl.png"
			 style="left: 150px; top: 60px;" width="400">
	</div>

	<!-- Banner Carousel -->
	<div class="carousel slide" data-bs-ride="carousel" id="hero-carousel">
		<div class="carousel-inner">
			<div class="carousel-item active c-item">
				<img alt="Slide 1" class="d-block w-100 c-img" src="assets/images/banner/4.png">
				<div class="carousel-caption top-0 mt-4">
				</div>
			</div>
			<div class="carousel-item c-item">
				<img alt="Slide 2" class="d-block w-100 c-img" src="assets/images/banner/2.png">
				<div class="carousel-caption top-0 mt-4">
				</div>
			</div>
			<div class="carousel-item c-item">
				<img alt="Slide 3" class="d-block w-100 c-img" src="assets/images/banner/3.png">
				<div class="carousel-caption top-0 mt-4">
				</div>
			</div>
			<div class="carousel-item c-item">
				<img alt="Slide 4" class="d-block w-100 c-img" src="assets/images/banner/1.png">
				<div class="carousel-caption top-0 mt-4">
				</div>
			</div>
		</div>
		<button class="carousel-control-prev" data-bs-slide="prev" data-bs-target="#hero-carousel" type="button">
			<span aria-hidden="true" class="carousel-control-prev-icon"></span>
			<span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" data-bs-slide="next" data-bs-target="#hero-carousel" type="button">
			<span aria-hidden="true" class="carousel-control-next-icon"></span>
			<span class="visually-hidden">Next</span>
		</button>
	</div>
</div>
