<app-header></app-header>
<!-- Infinite Slider -->
<div class="section">
	<div class="slider">
		<div class="slide-track autoplay">
			<div class="slide"><img
				alt="Company Logo"
				height="150" src="assets/images/slider/1.png" width="289"/></div>
			<div class="slide"><img alt="Company Logo" height="150"
									src="assets/images/slider/2.png" width="289"/></div>
			<div class="slide"><img
				alt="Company Logo"
				height="150" src="assets/images/slider/3.png" width="289"/></div>
			<div class="slide"><img alt="Company Logo" height="150"
									src="assets/images/slider/4.png" width="289"/></div>
			<div class="slide"><img alt="Company Logo" height="150"
									src="assets/images/slider/5.png" width="289"/></div>
			<div class="slide"><img alt="Company Logo" height="150"
									src="assets/images/slider/6.png" width="289"/></div>
			<div class="slide"><img alt="Company Logo" height="150"
									src="assets/images/slider/7.png" width="289"/></div>
			<div class="slide"><img alt="Company Logo"
									height="150" src="assets/images/slider/8.png" width="289"/></div>
			<div class="slide"><img
				alt="Company Logo"
				height="150" src="assets/images/slider/9.png" width="289"/></div>
			<div class="slide"><img
				alt="Company Logo"
				height="150" src="assets/images/slider/10.png" width="255"/></div>
			<div class="slide"><img
				alt="Company Logo"
				height="150" src="assets/images/slider/11.png" width="289"/></div>
			<div class="slide"><img
				alt="Company Logo"
				height="150" src="assets/images/slider/12.png" width="289"/></div>
			<div class="slide"><img
				alt="Company Logo"
				height="150" src="assets/images/slider/13.png" width="289"/></div>
		</div>
	</div>

	<div id="floatingImages">
		<div class="line">
			<div id="text-1"></div>
			<div id="text-2"></div>
			<div id="text-3"></div>
		</div>
		<img alt="Image of a bowl" class="homepageImage" height="250" src="assets/images/homepage/bowl.png"
			 style="left: 60px" width="350">
		<img alt="Image of a burger" class="homepageImage" height="250" src="assets/images/homepage/burger.png"
			 style="left: 154px" width="350">
		<img alt="Image of a momo bowl" class="homepageImage" height="250" src="assets/images/homepage/momo%20bowl.png"
			 style="left: 280px" width="350">
		<img alt="Image of a ramen bowl" class="homepageImage" height="250"
			 src="assets/images/homepage/ramen%20bowl.png"
			 style="left: 400px" width="350">
	</div>

	<!-- Banner Carousel -->
	<div class="carousel slide" data-bs-ride="carousel" id="hero-carousel">
		<!--	<div class="carousel-indicators">-->
		<!--		&lt;!&ndash;		<button aria-current="true" aria-label="Slide 1" class="active" data-bs-slide-to="0" data-bs-target="#hero-carousel"&ndash;&gt;-->
		<!--		&lt;!&ndash;				type="button"></button>&ndash;&gt;-->
		<!--		&lt;!&ndash;		<button aria-label="Slide 2" data-bs-slide-to="1" data-bs-target="#hero-carousel" type="button"></button>&ndash;&gt;-->
		<!--		&lt;!&ndash;		<button aria-label="Slide 3" data-bs-slide-to="2" data-bs-target="#hero-carousel" type="button"></button>&ndash;&gt;-->
		<!--		&lt;!&ndash;		<button aria-label="Slide 4" data-bs-slide-to="3" data-bs-target="#hero-carousel" type="button"></button>&ndash;&gt;-->
		<!--	</div>-->
		<div class="carousel-inner">
			<div class="carousel-item active c-item">
				<img alt="Slide 1" class="d-block w-100 c-img" src="assets/images/banner/4.png">
				<div class="carousel-caption top-0 mt-4">
				</div>
			</div>
			<div class="carousel-item c-item">
				<img alt="Slide 2" class="d-block w-100 c-img" src="assets/images/banner/2.png">
				<div class="carousel-caption top-0 mt-4">
				</div>
			</div>
			<div class="carousel-item c-item">
				<img alt="Slide 3" class="d-block w-100 c-img" src="assets/images/banner/3.png">
				<div class="carousel-caption top-0 mt-4">
				</div>
			</div>
			<div class="carousel-item c-item">
				<img alt="Slide 4" class="d-block w-100 c-img" src="assets/images/banner/1.png">
				<div class="carousel-caption top-0 mt-4">
				</div>
			</div>
		</div>
		<button class="carousel-control-prev" data-bs-slide="prev" data-bs-target="#hero-carousel" type="button">
			<span aria-hidden="true" class="carousel-control-prev-icon"></span>
			<span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" data-bs-slide="next" data-bs-target="#hero-carousel" type="button">
			<span aria-hidden="true" class="carousel-control-next-icon"></span>
			<span class="visually-hidden">Next</span>
		</button>
	</div>
</div>
