<div id="container">
	<div class="mainImage">
		<img alt="" id="image" src="assets/images/footer%20logos/CustomerCareContact.gif">
	</div>
	<div class="customerCare">
		<div class="customerCareContent">
			<div class="content">
				<br>
				<h1 style="color: rgb(0, 0, 0);"><h2>&nbsp; Call us on</h2><strong>+91 1800-555-7476</strong>
				</h1>
				<a href="mailto: companyMail" style="text-decoration: none;">
					<i class="fa fa-envelope" style="padding: 3px; font-size: 15px;"></i>&nbsp;Mail Us</a>
			</div>
		</div>
	</div>

</div>
<div id="homeButton">
	<button color="primary" mat-raised-button routerLink="">Back To Home</button>
</div>
