section {
	margin-top: 97px;
}

.vertical-line {
	border-left: 1px solid rgb(201, 201, 201);
	height: 100px;
}

.shadow {
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#running {
	padding: 20px 20px;
}
