<app-header></app-header>
<section>
	<div class="card-header py-4">
		<h1 class="mb-0 d-flex justify-content-center">Your Orders</h1>
	</div>

	<mat-tab-group dynamicHeight>
		<mat-tab label="Current Orders">
			<div>
				<div class="card mb-4 gradient-custom" class="gradient-custom">
					<div *ngFor="let item of items" class="card-body shadow">
						<div class="row">
							<div class="col-lg-2 col-md-12 mb-4 mb-lg-0">
								<div class="bg-image hover-overlay hover-zoom ripple rounded"
									 data-mdb-ripple-color="light">
									<img alt="item.name" class="w-100 rounded" src={{item.imageUrl}}>
								</div>
							</div>

							<div class="col-lg-4 col-md-5 mb-4 mb-lg-0 d-flex flex-column">
								<h2><strong>{{item.itemName}}</strong>&nbsp;<i
									class="fa fa-rupee"></i>&nbsp;{{item.itemPrice}}</h2>
								<h3 *ngIf="item.status=='ordered'">Order Status: Preparing</h3>
								<h3 *ngIf="item.status=='packed'">Order Status: On the Way</h3>
								<button (click)="cancelOrder(item.itemName)" *ngIf="item.status!='packed'"
										class="btn btn-primary btn-sm me-1 mb-2" type="button">
									Cancel
								</button>
							</div>

							<div class="col-lg-1 col-md-1 mb-4 mb-lg-0">
								<div class="vertical-line" style="height: 100%"></div>
							</div>

							<div class="col-lg-4 col-md-6 mb-4 mb-lg-0 ">
								<div>
									<h3>Quantity: {{item.count}}</h3>
								</div>
								<div>
									<h3>Item Total:&nbsp;<i
										class="fa fa-rupee"></i>&nbsp;{{calculateTotalPrice(item.itemName)}}</h3>
								</div>
							</div>
						</div>
					</div>
					<span>-</span>
				</div>
			</div>
		</mat-tab>
		<mat-tab label="Past Orders">
			<div>
				<div class="card mb-4" class="gradient-custom">
					<!-- Single item -->
					<div *ngFor="let itemshistory of itemsHistory" class="card-body shadow" id="running">
						<div class="row">
							<div class="col-lg-2 col-md-12 mb-4 mb-lg-0">
								<div class="bg-image hover-overlay hover-zoom ripple rounded"
									 data-mdb-ripple-color="light">
									<img alt="item.name" class="w-80 rounded" src={{itemshistory.imageUrl}}
										 style="height: 200px;width: 200px;">
								</div>
							</div>

							<div class="col-lg-4 col-md-5 mb-4 mb-lg-0 d-flex flex-column">
								<h2><strong>{{itemshistory.itemName}}</strong>({{itemshistory.itemPrice}} <i
									class="fa fa-rupee"></i>)</h2>
								<h3 *ngIf="itemshistory.status=='cancelled'">Order Status: Cancelled</h3>
								<h3 *ngIf="itemshistory.status=='delivered'">Order Status: Completed</h3>
							</div>

							<div class="col-lg-1 col-md-1 mb-4 mb-lg-0">
								<div class="vertical-line" style="height: 100%"></div>
							</div>

							<div class="col-lg-4 col-md-6 mb-4 mb-lg-0 ">
								<div>
									<h3>Quantity: {{itemshistory.count}}</h3>
								</div>
								<div>
									<h3>Item Total: {{calculateTotalPriceForHistory(itemshistory.itemName)}} <i
										class="fa fa-rupee"></i></h3>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</mat-tab>
	</mat-tab-group>
</section>
