<h2 mat-dialog-title>Shipping Address</h2>
<form [formGroup]="addressForm">
	<mat-dialog-content>
		<mat-form-field>
			<input formControlName="houseNo" matInput placeholder="House No" required>
			<mat-error *ngIf="addressForm.controls['houseNo'].hasError('required')">House No is required</mat-error>
		</mat-form-field>
		<mat-form-field>
			<input formControlName="landmark" matInput placeholder="Landmark" required>
			<mat-error *ngIf="addressForm.controls['landmark'].hasError('required')">Landmark is required</mat-error>
		</mat-form-field>
		<mat-form-field>
			<input formControlName="street" matInput placeholder="Street" required>
			<mat-error *ngIf="addressForm.controls['street'].hasError('required')">Street is required</mat-error>
		</mat-form-field>
		<mat-form-field>
			<input formControlName="city" matInput placeholder="City" required>
			<mat-error *ngIf="addressForm.controls['city'].hasError('required')">City is required</mat-error>
			<mat-error *ngIf="addressForm.controls['city'].hasError('pattern')">Only Characters are required..
			</mat-error>
		</mat-form-field>
		<mat-form-field>
			<input formControlName="pin" matInput placeholder="Pincode" required>
			<mat-error *ngIf="addressForm.controls['pin'].hasError('required')">Pincode is required</mat-error>
			<mat-error *ngIf="addressForm.controls['pin'].hasError('pattern')">Only Numbers are Allowed</mat-error>
		</mat-form-field>
	</mat-dialog-content>
	<mat-dialog-actions>
		<button (click)="cancel()" mat-button>Cancel</button>
		<button (click)="saveAddress()" [disabled]="addressForm.invalid" mat-button>Save</button>
	</mat-dialog-actions>
</form>
