<div class="main">
	<app-header></app-header>
	<app-add-restaurant></app-add-restaurant>

	<div>
		<mat-card *ngFor="let restaurant of restaurants" class="example-card">

			<img mat-card-image src="{{restaurant.imageUrl}}" style="margin: 5px;">

			<h2
				style="text-align: center; text-transform: uppercase; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;color: rgb(0, 0, 0);font-weight: bolder;">
				<h3>Id - {{restaurant.restaurantId}}</h3>
				<span>{{restaurant.restaurantName}}</span>
			</h2>
			<mat-card-content>
				<h3>
					<div style="text-align: left;">Location: {{restaurant.location}}</div>
					<a rel="noopener" style="color: black;  " target="_blank">
						<div style="text-align: center;">
							<div class="rating-badge">{{restaurant.rating}}
								<i class="fa fa-star" style="color: gold;"></i>
							</div>
						</div>
					</a>
				</h3>
			</mat-card-content>

			<button (click)="deleteRestaurant(restaurant.restaurantId)">
				<mat-icon>delete</mat-icon>
			</button>
		</mat-card>
	</div>
</div>
