<h1>Our Story</h1>
<div class="aboutUs">
	<div id="logoImage">
		<img alt="speedy bite logo" src="assets/images/logo/yetAnotherLogo.png" width="600">
	</div>
	<div class="content">
		<p id="p1">
			Speedy Bite was founded in 2023 with one goal in mind - to deliver fresh, delicious meals from local
			restaurants as quickly as possible.
			We started as a small operation with just a few drivers, but demand grew
			quickly based on our commitment to speedy service.
		</p>
		<p id="p2">
			Now Speedy Bite operates in cities across the country, with a large fleet of drivers and expanded restaurant
			partnerships. However, our commitment to quick delivery times and customer satisfaction remains unchanged.
			We pride ourselves on getting your order picked up and delivered within 30 minutes or less.
		</p>
		<p id="p3">
			At Speedy Bite, we know that when you're hungry, every minute counts. Let us zoom to your favorite
			restaurants and deliver your meal fast, so you can focus on enjoying your food. With our commitment to
			speed, service and satisfaction, Speedy Bite has become the go-to delivery option for those craving a fresh,
			hot meal in a flash!
		</p>
	</div>

	<div class="ourVision">
		<div class="visionContent">
			<img id="logo" src="assets/images/logo/Speedy%20Bite.png"
				 style="mix-blend-mode: multiply;">
			<h2>Our Vision</h2>
			<p>
				<i class="fa fa-quote-left"></i>
				Our vision is to be the fastest and most reliable on-demand food delivery service, satisfying
				customers' cravings with exceptional speed and service.
				<i class="fa fa-quote-right"></i>
			</p>
		</div>
	</div>

	<div class="ourPartners">
		<img alt="image of delivery partners" src="assets/images/about/delivery-partners.png" width="1500">
	</div>

	<div class="ourTeam">
		<div id="cards">
			<h1>Our Team</h1>
			<div class="teamMemberImage">
				<img alt="image of a team member" id="teammate1" src="assets/images/about/teamMember1.png" width="400">
				<img alt="image of a team member" id="teammate2" src="assets/images/about/teamMember2.png" width="400">
				<div class="names">
					<h1 id="name1"><a href="https://www.linkedin.com/in/ashutosh-kumar-ak">Ashutosh</a></h1>
					<h1 id="name2">Ashim</h1>
				</div>
			</div>
		</div>
	</div>

	<div>
		<a routerLink=""
		   style=" position:fixed; top: 10px; left: 30px; background-color: rgb(220,73,20);border-radius: 50%;width:40px;height: 40px;">
			<i class="fa fa-arrow-circle-left" style=" color: white;font-size: 40px;"></i></a>
	</div>
</div>
