<app-header></app-header>
<div id="mainContainer">

	<div id="card">
		<div id="imgContainer">
			<img [src]="imageSrc" alt="Profile Image">
		</div>

		<div class="info">
			<h1 style="text-align: center;">Profile</h1>
			<div class="userData">
				<div class="info1">
					<p>Name: {{userInfo?.name}}</p>
					<p>Email: {{userInfo?.email}}</p>
				</div>
				<div class="info2">
					<p id="phone">PhoneNo &nbsp;<i class="fa fa-phone"></i>&nbsp;: {{userInfo?.phoneNumber}}</p>
				</div>
			</div>

			<div class="vertical"></div>

			<div *ngIf="visible">
				<div class="links" style="font-weight: 600;letter-spacing:1px;">
					<a routerLink="/myOrders">Your Orders</a>
					<a routerLink="/favourite">Favourites</a>
				</div>
			</div>
			<div *ngIf="!visible">
				<div class="links" style="font-weight: 600;letter-spacing:1px;">
					<a routerLink="">Back to Main Menu</a>
				</div>
			</div>
		</div>
		<a id="editIcon"><i (click)="updateUser()" class="fa fa-edit" id="edit"></i></a>
	</div>
</div>
<router-outlet></router-outlet>
