<footer class="bg-dark text-white">
	<div class="container-fluid">
		<div class="row">
			<div class="col col-xl-4 col-lg-3 col-12 col-xs-12 d-flex justify-content-center align-items-center">
				<img alt="logo" src="assets/images/logo/logo1.png" width="300">
			</div>
			<div class="col col-xl-8 col-lg-9 col-12 col-xs-12">
				<div class="row">
					<div class="col col-lg-4 col-sm-6 col-12">
						<h3>About</h3>
						<hr>
						<p>
							At Speedy Bite, we're all about delicious food, delivered to your doorstep with ease.
							Explore your favorite local restaurants, order in seconds, and savor every bite. Join us for
							a taste-filled journey today.
						</p>
					</div>
					<div class="col col-lg-4 col-sm-6 col-12">
						<h3>Let us help</h3>
						<hr>
						<ul>
							<li><a routerLink=""></a><span><img src="assets/images/footer%20logos/homepage.png"></span>
								Home
							</li>
							<li><span><img src="assets/images/footer%20logos/shopping-cart.png"></span> Your Orders</li>
							<li><span><img src="assets/images/footer%20logos/user.png"></span> Profile</li>
						</ul>
					</div>

					<div class="col col-lg-4 col-sm-6 col-12">
						<h3>Contact Us</h3>
						<hr>
						<ul>
							<li><a href="">
								<i class="fa fa-building-o" id="address" style="padding: 3px;font-size: 25px;"></i>221B
								Baker Street, Bangalore</a>
							</li>
							<li><a href="mailto: infovisit.speedybite@gmail.com">
								<i class="fa fa-envelope" style="padding: 3px; font-size: 15px;"></i>&nbsp;Mail Us</a>
							</li>
							<li><a href="" style="cursor: pointer;">
								<i class="fa fa-phone" style="padding: 3px; font-size: 20px;"></i>&nbsp;Customer Support</a>
							</li>
						</ul>
					</div>
					<div class="col col-lg-3 col-12">
						<a href="https://www.facebook.com/" style="font-size: 30px;"><i class="fa fa-facebook"
																						id="facebook"></i></a>
						<a href="https://www.instagram.com/" style="font-size: 30px;"><i class="fa fa-instagram"
																						 id="instagram"></i></a>
						<a href="https://twitter.com/" style="font-size: 30px;"><i class="fa fa-twitter"
																				   id="twitter"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<h2><i class="fa fa-copyright"></i>Copyright</h2>
</footer>
