#formBox {
	padding: 2%;
	position: relative;
	margin: auto;
	box-shadow: 10px 10px 190px -50px;
	width: 100%;
}

form {
	width: 90%;
	margin: auto;
	text-align: center;
	justify-content: center;
	align-items: center;
}

input {
	border-radius: 30px;
	padding: 13px 12px;
	outline: none;
	margin-bottom: 6px;
	font-size: 15px;
}

.file-input {
	display: none;
}

.file-label {
	display: inline-block;
	padding: 8px 12px;
	width: 100%;
	background-color: #ac0efb;
	border-radius: 15px;
	cursor: pointer;
	color: white;
}

.file-label:hover {
	background-color: #9106d6;
}

.error {
	margin-bottom: 10px;
	color: rgb(249, 47, 81);
}

#clear {

	background-color: rgb(255, 0, 132);
	width: 50px;
	height: 50px;
	border-radius: 50%;
	text-align: center;
	position: absolute;
	top: 10px;
	right: 10px;

}

#clear:hover {
	background-color: rgb(155, 2, 68);
}

#clear a {
	line-height: 60px;
	color: white;
	padding: 10px;
	cursor: pointer;
}
