<div id="registration">
	<section>

		<div id="formBox">
			<h2 mat-dialog-title style="text-align: center;">Update Info</h2>
			<mat-dialog-content>
				<form (ngSubmit)="updateUser()" [formGroup]=" updateForm">
					<!-- User's Name -->
					<div id="nameInput">
						<span>Name</span>
						<input formControlName="name" type="text">

						<div *ngIf="name?.errors?.['minlength']" class="error">
							Name must be {{name?.errors?.['minlength'].requiredLength}} characters long
						</div>
					</div>
					<!--User's  Phone -->
					<div id="phoneInp">
						<span>Phone No.</span>
						<input formControlName="phoneNumber" type="number">

						<div *ngIf="phone?.errors?.['pattern']" class="error">
							Mobile no, must be start with 6,7,8 or 9
						</div>
					</div>

					<div id="userInput">
						<label class="file-label" for="image">Upload Image <i class="fa fa-upload"></i></label>
						<input (change)="onImageUpload($event)" accept="images/*" class="file-input" id="image"
							   type="file">
					</div>
					<p style="text-align: center;color:black;">{{fileName}}</p>

					<br>

					<button [disabled]="! updateForm.valid" mat-raised-button type="submit">Update</button>

				</form>
			</mat-dialog-content>
			<div id="clear">

				<a (click)="clear()">
					<mat-icon>clear</mat-icon>
				</a>

			</div>
		</div>
	</section>
</div>
