h1 {
	background-color: rgb(110, 110, 218);
	color: whitesmoke;
	max-width: max-content;
	margin-left: 180px;
	border-radius: 5px;
	padding: 15px;
}

section {
	width: 100%;
	margin-top: 70px;
}

section #addRestaurantForm {
	margin: auto;
	width: 600px;
	height: 100vh;
	text-align: center;
	align-items: center;
	justify-content: center;
	display: flex;
}

#formBox {
	background: #113f67;
	padding: 4%;
	border-radius: 6%;
	box-shadow: 10px 10px 190px -50px;
	width: 60%;
}

@media (max-width: 600px) {
	section #formAddRestaurant {
		margin: auto;
		width: 400px;
		height: 90vh;

	}
}
